<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.board.service.impl.BoardMapper">

<sql id="selectListWhere">
	
	<trim prefix="WHERE" prefixOverrides="AND | OR">
		
			
	
		<if test="seqNo != null and seqNo != '' ">
			AND seq_no = #{seqNo}
		</if>
	
		<if test="serviceType != null and serviceType != '' ">
	   		AND service_type = #{serviceType}
	   	</if>
	   	
	   	<if test="whereType != null and whereType != '' ">
	   		AND ${whereType} like '%' ||  #{searchText} || '%'
	   	</if>
	</trim>
</sql>
	
<sql id="selectItem">
		seq_no,
	    service_type,
	    title,
	    contents,
	    view_count,
	    reg_date,
	    reg_user,
	    up_date,
	    up_user
</sql>


<insert id="insertBoardItem" parameterType="kr.or.nextit.board.service.BoardVo">
	
	insert into tb_com_board (
    	<include refid="selectItem"></include>
    	) values (
    	 #{seqNo},
    	 #{serviceType},
    	 #{title},
    	 #{contents},
    	 0,
    	 SYSDATE,
    	 #{regUser},
    	 SYSDATE,
    	 #{upUser}
    	)
    	 

</insert>

<select id="selectBoardList" parameterType="kr.or.nextit.board.service.BoardVo" 
							resultType="kr.or.nextit.board.service.BoardVo">
	
	SELECT
	    <include refid="selectItem"></include>
	FROM
   	 	 tb_com_board
   
   	<include refid="selectListWhere"></include>
   
   	order by reg_date desc
</select>

<select id="selectBoardItem" parameterType="kr.or.nextit.board.service.BoardVo"
								resultType="kr.or.nextit.board.service.BoardVo">
	SELECT
	   <include refid="selectItem"></include>
	FROM
    	tb_com_board
	<include refid="selectListWhere"></include>			
</select>
		
<update id="updateBoardCountItem"
			parameterType="kr.or.nextit.board.service.BoardVo">
		update tb_com_board set
   			 view_count =view_count + 1 
		where
    		seq_no=#{seqNo}

</update>

<delete id="deleteBoardItem" parameterType="string">
	
	delete from tb_com_board
		where seq_no = #{seqNo}

</delete>

<update id="updateBoardItem" parameterType="kr.or.nextit.board.service.BoardVo">
	
	UPDATE tb_com_board 
	SET 
     title = #{title},
     contents = #{contents},
     up_date = SYSDATE,
     up_user = #{upUser}
   where 
     seq_no = #{seqNo}

</update>
</mapper>